@charset "utf-8";
/* CSS Document */
/*
创建时间：2016.10.13
创建原因：reset样式及部分公用UI
*/

/* base style */
html,body{width:100%;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td{margin:0; padding:0;}
html{width:100%; border:0; background-color:#fff;}
body,div,button,textarea{font:12px/160% '微软雅黑','宋体',tahoma, arial, Helvetica, sans-serif; *line-height:160%; color:#222;}
input,select{font-family:tahoma, arial,'微软雅黑','宋体', Helvetica, sans-serif;}
img{border:none;}
input,img,select{vertical-align:middle;}
ul,ol{list-style:none;}
table,td,th,tr{border-collapse:collapse; border-spacing:0;}
td{font-size:12px;}
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}

/* link */
a{text-decoration:none;}
a:link,a:visited{color:#222;}
a:hover,a:active{color:#ff4c4c; text-decoration:none;}
.fn-link-rose a:link, .fn-link-rose a:visited{color:#ff4c4c;}
.fn-link-rose a:hover, .fn-link-rose a:active{color:#ff4c4c; text-decoration:underline;}
.fn-link-blue a:link, .fn-link-rose a:visited{color:#14a7ed;}
.fn-link-blue a:hover, .fn-link-rose a:active{color:#14a7ed; text-decoration:underline;}
.fn-link-gray a:link, .fn-link-gray a:visited{color:#666;}
.fn-link-gray a:hover, .fn-link-gray a:active{color:#ff4c4c; text-decoration:none;}

/* font */
.fn-color-rose{color:#ff4c4c;}
.fn-color-666{color:#666;}
.fn-color-999{color:#999;}
.fn-color-white{color:#fff;}
.fn-font-fb{font-weight:bold;}
.fn-font-14{font-size:14px;}
.fn-font-16{font-size:16px;}
.fn-font-24{font-size:24px;}

/* Other */
.fn-clear:after{visibility:hidden; display:block; height:0; content:" "; clear:both; font-size:0;}
.fn-clear{*zoom:1; /* for IE6 IE7 */}
.fn-hide{display:none;}
.fn-show{display:block;}
.fn-left{float:left;}
.fn-right{float:right;}
.fn-relative{position:relative; z-index: 1;}
.fn-margin-t10{margin-top:10px;}
.fn-margin-t20{margin-top:20px;}
.fn-text-left{text-align:left;}
.fn-text-center{text-align:center;}
.fn-text-right{text-align:right;}

/* table style */
.tablestyle,.tablestyle td ,.tablestyle th{background-color:#fff; border:1px solid #e5e5e5; border-collapse:collapse;}
.tablestyle td{background-color:#fff; text-align:center; padding:8px 6px;}
.tablestyle td.even{background-color:#f9f9f9;}/* 偶数行变色，从1开始算 */
.tablestyle th{height:36px; line-height: 36px; background-color:#ededed; font-weight: bold;}

/* form */
.form-input{padding:6px 12px; width:296px; height:44px; font-size: 14px; line-height:42px; border:1px solid #d2d2d2; background-color: #fff; color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-input:hover{border:1px solid #d2d2d2;}
.form-input:focus{outline:none; border:1px solid #b4b4b4;}
.form-input::-moz-placeholder{color: #ccc; opacity: 1;}
.form-input:-ms-input-placeholder{color: #ccc;}
.form-input::-webkit-input-placeholder{color: #ccc;}
.form-input.inputError,
.form-input.inputError:hover,
.form-input.inputError:focus{border: 1px solid #ff5f5f;}

/*select*/
.form-select-defined.inputError{border: 1px solid #ff5f5f;}
.form-select-defined{display: inline-block; width:295px; height: 44px; background-color: #fff; border: 1px solid #d2d2d2; color: #d3d3d3; vertical-align: middle; cursor: pointer;}
.form-select-defined .arrowDown{float: right; width: 43px; height: 44px; line-height: 36px; background-color: #f7f7f7; border-left: 1px solid #d2d2d2; text-align: center;}
